:root{
    --morado:#91779C;
    --moradoTitulos:#877A8E;
    --amarilloTitulos:#F2C10F;
    --AmarilloBackgroundTitulo:#F4B900;
    --circulosOscuros:#202020;
    --circulosAmarillos:#E0B42D;
}
@font-face {
    font-family: carbono;
    src: url(./carbono.ttf);
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    transition: 3s ease all;
}
body{
    background:linear-gradient(#EDB307,#9E88AE);
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    font-family: 'Montserrat',sans-serif;
}
.padre{

    position: relative;
    background-color: white;
    width: 90vw;
    display: flex;
}

.line{
    left: 50%;
    top:3%;
    position: absolute;
    block-size: 95%;
    inline-size: .3rem;
    background-color: #B5A7BC;
    border-radius: 1rem;

}

.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    inline-size: 50%;
    padding: 1rem;
    
}
.foto{

    min-width: 80%;

}

.nombre{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

h2{
    font-family: carbono;
}
.t1{
    
    font-size: 2rem;
    color:var(--moradoTitulos);
}

.p2, .p3{
    
    display:none;
    
}

.nombre h5{
    
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: .5rem;
    letter-spacing: .4rem;
    margin-top: .1rem;
    
}

.nombre .t2{
    
    display:none;
    margin-top: -.4rem;
    color: var(--morado);
    font-size: 1.2rem;

}

h3{


    color: var(--amarilloTitulos);
    font-weight: lighter;

}

p{

    font-size: 10px;

}
.descripcion{
   
    display: grid;
    margin-block: 1rem;
    inline-size: fit-content;
    padding-left: .5rem;
    gap: .7rem;

}

.descripcion p{

    inline-size: 100%;

}

.interes{

    display: grid;
    margin-block: 1.5rem;
    inline-size: 100%;
    gap: .7rem;
    justify-content: center;

}

.interes h3{
    
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;

} 

.imagenes{

    display: grid;
    grid-template-columns: 1fr 1fr;
    inline-size:100%
}

.descImg{

    display: none;

}

.con .email{

    font-size: .6rem;

}

.imagenes img{

     max-width: 80%;

}

.contacto{

    display: grid;
    margin-block: 1rem;
    inline-size: 100%;
    padding-left: .5rem;
    gap: 1.8rem;
    text-align: center;

}

.estudio .Descripcion{

    display: none;

}

.contac{

    display: grid;
    grid-template-columns: 1fr 1fr;
    inline-size: 100%;

}

.con{
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    align-items: center;
    gap: .2rem;
}

.con span{

    font-size: .7rem

}
.img{
    block-size: 2rem;
    inline-size: 2rem;
}
.correo{

    display: grid;
    
}

.derecha{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 43vw;
    padding: 12px;
    
}

.habilidades{

    margin-top: 20px;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.habilidades h5{
   
    font-family: 'Barlow', sans-serif;
    color: #F2F2F2;
    text-align: center;
    padding-block: .25rem;
    inline-size: fit-content;
    justify-self: center;
    padding-inline: .70rem;
    background-color: #9380A6;
    border-radius: 20px;
    
}

.imagenesHabilidades  img{
    width: 50px;
    margin-top: 20px;
}

.imagenesHabilidades2 img{

    width: 50px;
    margin-top: 20px;
    margin-left: 12px;
}


.imagenesHabilidades {

   display: flex;
   inline-size: 100%;


    /* display: flex;
    
   
    display: grid;
    grid-template-areas: 
    "a b"; */

}

.imagenesHabilidades2{
    display: flex;
    inline-size: 100%;
}


.ideaRamdon{
    width: 20vw;
}

.ideaRamdon p{
    font-size: 10px;
    display: none;
}


.programas{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


.programas h5{
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
    color: #F2F2F2;
    text-align: center;
    padding-block: .25rem;
    inline-size: fit-content;
    justify-self: center;
    padding-inline: .70rem;
    background-color: #F0B415;
    border-radius: 20px;
  

}

.programa span{
    font-family: 'Barlow', sans-serif
}

.programas1{
    
    display: flex;
    inline-size: 100%;
    justify-content: space-evenly;
}

.programas1 img{
    width: 46px;
    margin-top: 26px;
    margin-left: 2px;
}

.programas1 span{
    padding: 13px;
}

.programas2{
    display: flex;
    inline-size: 100%;
    padding: 30px;

    justify-content: space-evenly;
}

.programas2 img{
    width: 50px;
    margin-top: 20px;
    
}

.programa span{

    display: none;

}

.programa .first{

    display:block

}

.programas2 span{
    padding: 10px;
}


.estudioyexperiencia{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.estudioyexperiencia h5{
    font-family: 'Barlow', sans-serif;
    color: #F2F2F2;
    text-align: center;
    padding-block: .25rem;
    inline-size: fit-content;
    justify-self: center;
    padding-inline: .70rem;
    background-color: #9380A6;
    border-radius: 20px;
    font-size: 10px;
}



.estudios img{
    width: 30%;
    padding: 5px;
    padding-block: 15px;


}

.estudios h3{
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
    color: #9380A6;
    text-align: center;
    padding-block: .2rem;
    inline-size: fit-content;
    justify-self: center;
    padding-inline: 3.7rem;
    font-size: 10px;

}

.estudio{
    display: flex;
    align-items: center;
    width: fit-content;
}



@media screen and (min-width: 660px) {


    body{

        background-color: #91779C;

    }

    .padre{


        inline-size: 600px;
        padding-inline: 1rem

    }

    .izquierda{

        inline-size: 45%;

    }

    .line{

        left:45%

    }

    .izquierda{

        display: block;

    }

    .nombre{

        padding-right: .7rem;

    }

    .nombre .t1{

        inline-size: 15rem;

    }

    .nombre .t2{

        display:block;

    }

    .descripcion{

        padding-left: 0;
        padding-right: 2rem;
        margin-block: 1rem;

    }

    .p1, .p2, .p3{

        display:block;
        margin-left: .5rem;

    }
    
    .interes{

        margin-top: 0;
        justify-content: start;

    }

    .int{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .imagenes{

        gap: .6rem;
        margin-left: 1rem;

    }

    .imagenes img{

        min-width: 60%;

    }

    .interes h3{

        text-align: start;

    }

    .descImg{

        display: block;
        font-size: .5rem;

    }



    .contacto{

        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: start;

    }

    .contac{

        grid-template-columns: none;
        gap: 1.2rem;

    }

    .con{

        flex-direction: row;
        gap: 1.2rem;

    }

    .con .email{

        font-size: .7rem;
    
    }


    .plataforma{

        inline-size: 47%;
    
    }
    
    .plataforma2{
 
        inline-size: 47%;
    
    }

    
    .derecha{

        width: 58%;
        
    }
    
    .habilidades{
    
        margin-top: 10px;
        align-items: center;
    
    
    }
    
    .habilidades h5{
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
        color: #F2F2F2;
        text-align: center;
        padding-block: .35rem;
        inline-size: fit-content;
        justify-self: center;
        padding-inline: 1.90rem;
        background-color: #9380A6;
        border-radius: 20px;
        margin-left: 60px;
    }
    
    
    
    .imagenesHabilidades  img{
        width: 90px;
    }
    
    .imagenesHabilidades2 img{
        width: 90px;
    }
    
    
    .imagenesHabilidades {
        margin-top: 5%;
       display: flex;
       inline-size: 100%;
        justify-content: center;
        gap: 1rem;
    
    }

    
    .imagenesHabilidades2{
        display: flex;
        inline-size: 100%;
        justify-content: center;
    }
    
    
    .ideaRamdon{
    
        display: grid;
        text-align: center;
    
    }
    
    .ideaRamdon p {
        font-size: 10px;
        display: block;
    }
    
    
    .programas{
        margin-top: 3px;
    }
    
    .programa{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .programas span{

        display: block;

    }

    .programas h5{
        margin-top: 20px;
        font-family: 'Barlow', sans-serif;
        color: #F2F2F2;
        text-align: center;
        padding-block: .55rem;
        inline-size: fit-content;
        justify-self: center;
        padding-inline: 1.70rem;
        background-color: #F0B415;
        border-radius: 20px;
    }
    
    .programa span{
        font-family: 'Barlow', sans-serif;
    }
    
    .programas1{
        margin-top: 1.25em;
        display: flex;
        inline-size: 100%;
        flex-direction: column;
    }
    
    .programas1 img{
        width: 46px;
        margin-top: -2px;
    }
    
    .programas1 span{
        font-size: 1px;
        border: 2px solid #2f2f30;
        background-color: #2f2f30;
        border-radius: 30px;
        padding: 4px 4px 5px 4px;
        margin-left: 3px;
    }
    
    .programas1 .cambiaColor {
        border: 2px solid var(--circulosAmarillos);
        background-color: white;
        color: white;
    }
    
    .programas2{
        display: flex;
        inline-size: 100%;
        padding: 5px;
        flex-direction: column;
    }
    
    .programas2 img{
        width: 46px;
        margin-top: -5px;
    }
    
    .programas2 span{
        font-size: 1px;
        border: 2px solid #2a282b;
        background-color: #2a282b;
        border-radius: 30px;
        padding: 4px 4px 5px 4px;
        margin-left: 3px;
    }
    
    .programas2 .cambiaColor{
        border: 2px solid var(--circulosAmarillos);
        background-color: white;
        color: white;
    }
    
    .estudio .Descripcion{

        display: block;
    
    }

    .estudioyexperiencia{
        
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    .estudioyexperiencia h5{
        font-family: 'Barlow', sans-serif;
        color: #F2F2F2;
        text-align: center;
        padding-block: .35rem;
        inline-size: fit-content;
        justify-self: center;
        padding-inline: 1.70rem;
        background-color: #9380A6;
        border-radius: 20px;
        font-size: 15px;
        margin-left: 30px;
    }
    
    
    
    .estudios img{
        width: 5vw;
        padding: 5px;
        padding-block: 1px;
        margin-left: 10px;
    }
    
    .estudios h3{
        margin-top: 10px;
        font-family: 'Barlow', sans-serif;
        font-weight: bolder;
        color: #8f75aa;
        text-align: center;
        padding-block: .2rem;
        inline-size: fit-content;
        justify-self: center;
        padding-inline: 0.1rem;
        font-size: 10px;
        font-weight: bold;
    }
    
    .estudio p{
        font-weight: bolder;
        margin-left: 15px;
    }
    
    .estudio .Descripcion{
        font-family: 'Barlow', sans-serif;
        color: #2f2f30;
    }
    
    .estudio{
        display: flex;
        align-items: center;
        width: fit-content;
    }
    
    

}