:root{

    --azul-barras-claro:#B5EAEE;
    --azul-aguaMarina: #19C0CC;
    --azul: #2253DD;
    --azul-oscuro: #11383d;
    --azul-claro: #1B4F53;
    --gris-iconos: #49727B;
    --naranja: #FA9111;
    --naranja-Actividades: #F96735;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    block-size: 100vh;
}
nav{
    position: relative;
    inline-size: 5vw;
    block-size:inherit;
    background-color: var(--azul-oscuro);
}

.imagen{
    
    display: flex;
    justify-content: center;
    inline-size: inherit;
    background-color: var(--azul-claro);
    inline-size: 4.9vw;
}
.mont{
    block-size:6vh;
    
}
.icon{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}
.iconM{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 5px 6px 4px 6px;
    border-radius: 50%;
    
}
.iconF{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding-left: 2px;
    border-radius: 50%;
    background-color: var(--gris-iconos);
}

.icon:hover{
    background-color: white;
    transition: all ease .8s;
}
.iconM:hover{
    background-color: white;
    transition: all ease .8s;
}
.iconF:hover{
    background-color: white;
    transition: all ease .8s;
    padding: 6px 4px 4px 6px;
}


.icons{
    display: flex;
    block-size:94%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons1{
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size:50%;
    justify-content: space-evenly;
}

.icons2{
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size:20%;
    justify-content: space-evenly;
}



.header{
    position: absolute;
	width: 70vw;
	left: 75px;
	top: 11%;
	transform: translateY(-50%);
    font-family: 'Montserrat',sans-serif;
}

.header .Title{
    margin-left: 90px;
    font-weight: bolder;
    font-size: 18px;
}

.header input{
    border: rgba(232, 239, 239, 0.95);
    position: absolute;
    padding: 8px 150px 10px 10px;
    border-radius: 20px;
    background-color: rgba(232, 239, 239, 0.95);
    font-size: 15px;
    margin: 0px 0 0 532px;
}

.search-icon{
    position: absolute;
	width: 20px;
	height: 20px;
	left: 1040px;
	top: 14%;
	transform: translateY(-50%);
}

.profileImg{
    margin-top: 20px;
    margin-left: 85px;
}

.saludo{
    top:50%;
    width: 27%;
    text-align:center;
    margin:0 auto;
    position:absolute;
    font-size: 20px;
}

.header .saludo1{
    font-weight: bolder;
}

.text{
    top:76%;
    width: 33%;
    color: rgba(118, 118, 118);
    text-align:center;
    margin:0 auto;
    position:absolute;
    font-size: 13px;
}

.expensesActivity{
    font-family: 'Montserrat',sans-serif;
    position: absolute;
    border: 3px solid rgba(232, 239, 239, 0.95);
    border-radius: 20px;
    width: 53vw;
	height: 450px;
	left: 20px;
	top: 46%;
	transform: translateY(-50%);
    margin-left: 130px;
}

.context{
    margin: 35px 0 5px 35px;
}

.context .date{
    margin-top: 5px;
    font-size: 15px;
}

.context .remaining-money{
    margin-top: 50px;
    font-weight: bold;
}

.context h3{
    margin-top: 10px;
    font-size: 40px;
}

.context p{
    margin-top: 20px;
}

.context .porcentaje{
    color: rgb(5, 160, 5);
}

.context .days{
    color: rgba(118, 118, 118);
}

.expensesActivity .line{
    left: 3%;
    top:65%;
    position: absolute;
    height: .5%;
    inline-size: 93%;
    background-color: rgba(232, 239, 239, 0.95);
    border-radius: 1rem;
}

.Income-Expenses{
    margin: 80px 0 5px 35px;
}

.Income-Expenses .cash-green-icon{
    position: absolute;
}

.Income-Expenses .total-income{
    font-weight: bold;
    font-size: 30px;
    padding-left: 78px;
}

.Income-Expenses .total-expenses{
    font-weight: bold;
    font-size: 30px;
    padding-left: 336px;
}

.Income-Expenses .cash-red-icon{
    position: absolute;
    margin-left: 260px;
}

.Income-Expenses p{
    margin-top: 10px;
    margin-left: 78px;
}

.Income-Expenses .descripcion{
    padding-left: 388px;
}